@using ArticleManagement.Web.Models.Auth
@model LoginViewModel
@{
  ViewData["Title"] = "Iniciar Sesión";
}

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
        <div class="text-center mb-4">
            <h2 class="fw-bold text-secondary mt-2">Iniciar Sesión</h2>
        </div>

        <form asp-action="Login" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label asp-for="Username" class="form-label fw-bold text-secondary"></label>
                <input asp-for="Username" class="form-control" placeholder="Ingresa tu usuario" required />
                <span asp-validation-for="Username" class="text-danger small"></span>
                <div class="invalid-feedback">Por favor ingresa tu usuario.</div>
            </div>

            <div class="mb-4">
                <label asp-for="Password" class="form-label fw-bold text-secondary"></label>
                <input asp-for="Password" type="password" class="form-control " placeholder="Ingresa tu contraseña" required />
                <span asp-validation-for="Password" class="text-danger small"></span>
                <div class="invalid-feedback">Por favor ingresa tu contraseña.</div>
            </div>

            <button type="submit" class="btn btn-primary w-100">
                <i class="bi bi-box-arrow-in-right"></i> Entrar
            </button>
        </form>

        <div class="text-center mt-3">
            <small class="text-muted">¿No tienes una cuenta?</small>
        </div>
        <div class="text-center mt-3">
            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#createUserModal">Reg&iacutestrate</button>
        </div>
    </div>
</div>

<div class="modal fade" id="createUserModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUserModalLabel">Registrar usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("_CreateUser")
            </div>
        </div>
    </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}